.address-heading {
    font-weight: 300;
    font-size: 35px;
    font-family: "Oswald", sans-serif !important;
    color: #000;
    text-transform: uppercase;
}

.address,
.email,
.phone {
    font-family: "Roboto Mono", monospace;
    /* font-size: 15px; */
    line-height: 1.5;
}

.icon-span {
    font-size: 18px;
    color: #0865e7;
}

.address-detail .email {
    text-decoration: none;
    color: #000;
}

.address-detail .email:hover {
    color: #0d6ef7;
}

.google-map iframe {
    height: 100%;
    width: 100%;
}